.card {
    border: none;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .form-check {
    margin: 10px 0;
  }
  
  .form-check-label {
    margin-left: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }

  .accordion-button {
    background-color: #182541 !important;
    color: #ffffff !important;
  }

  
  

  
  
  